certifi==2020.6.20
chardet==3.0.4
colorlog==4.2.1
configparser==5.0.0
idna==2.10
Pillow==7.2.0
pyTelegramBotAPI==3.7.2
pytz==2020.1
PyYAML==5.4
requests==2.24.0
six==1.15.0
urllib3==1.25.10
utils==1.0.1
